<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyFirstApp">

        <!-- MainActivity in Kotlin -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecondActivity in Kotlin -->
        <activity
            android:name=".SecondActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="com.example.androidapp.ACTION_SHOW_SECOND" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

        <activity android:name=".ImageActivity"
            android:label="Capture Image"
            android:exported="false" />
    </application>

</manifest>